<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{{ title }}</title>
    
</head>
<body>

    <!-- Common header -->
    <header>
        <h1>Welcome to My Flask App</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/about">About</a>
        </nav>
    </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <!-- Content of each page will go here -->
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <!-- Common footer -->
    <footer>
        <p>&copy; 2024 My Flask App</p>
    </footer>

</body>
</html>
