{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to My Flask App!</h1>
        <p class="lead">This is a simple web application built using Python and Flask.</p>
        <hr class="my-4">
        <p>You can sign up, log in, and explore the features we’re building in this app.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}" role="button">Get Started</a>
    </div>
{% endblock %}
